.body {
    background-color: chocolate;
}
#main {
    font-size: 100px;
    color: rgb(199, 199, 199);
}
.h1 {
    font-size: 80px;
    color: rgb(255, 255, 255);
}
.h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}
.h3 {
    color: rgb(44, 24, 16);
}
.h4 {
    font-size: 20px;
    color: rgb(53, 8, 10);
}
.p {
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.img {
    width: 100%;
    
}
#titulos {
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    width: fit-content;
    margin: auto;
    padding: 0px 1em 1em 1em;
}
.cards {
    border: 2px solid black;
    width: 65vw;
    margin: auto;
    padding: 3em;
    border-radius: 5%;
}
.cards:hover {
    background-color: crimson;
}